* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: skyblue;
  font-size: 16px;
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 100%;
  max-width: 1000px;
}

.widget {
  margin: auto;
}

.widget p {
  display: inline-block;
  line-height: 1em;
}

.date {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0.3125rem;
  background-color: rgba(0, 0, 0, .7);
  padding: 20px;
  width: 100%;
}

.time {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 20px;
  font-size: 13em;
  text-align: center;
  background-color: rgba(247, 247, 247, 0.7);
  display: flex;
  justify-content: space-evenly;
  color: rgba(0, 0, 0, .8);
}

.time .box-seconds {
    display: flex;
    flex-direction: column;
}

.time .seconds, 
.time .am-pm {
  font-size: 6.5rem;
  /* display: block; */
}